In [1]:
import pandas as pd

In [2]:
taxi_jan_2024 = pd.read_csv('yellow_tripdata_2024-01.csv', nrows = 100)
taxi_jan_2024.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [3]:
taxi_jan_2024.tpep_pickup_datetime = pd.to_datetime(taxi_jan_2024.tpep_pickup_datetime)
taxi_jan_2024.tpep_dropoff_datetime = pd.to_datetime(taxi_jan_2024.tpep_dropoff_datetime)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(taxi_jan_2024, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [8]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000)
df_iter

In [12]:
taxi_jan_2024 = next(df_iter)
taxi_jan_2024

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
300000,1,2024-01-04 19:28:45,2024-01-04 19:54:51,1.0,0.00,1.0,N,83,51,1,52.44,0.0,0.5,0.00,13.88,1.0,67.82,0.0,0.0
300001,2,2024-01-04 19:41:16,2024-01-04 19:43:31,1.0,0.24,1.0,N,239,239,3,-4.40,-2.5,-0.5,0.00,0.00,-1.0,-10.90,-2.5,0.0
300002,2,2024-01-04 19:41:16,2024-01-04 19:43:31,1.0,0.24,1.0,N,239,239,3,4.40,2.5,0.5,0.00,0.00,1.0,10.90,2.5,0.0
300003,2,2024-01-04 19:08:54,2024-01-04 19:25:44,1.0,2.29,1.0,N,238,163,1,16.30,2.5,0.5,4.56,0.00,1.0,27.36,2.5,0.0
300004,2,2024-01-04 19:30:29,2024-01-04 19:43:47,1.0,2.26,1.0,N,163,113,1,14.90,2.5,0.5,1.50,0.00,1.0,22.90,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,1,2024-01-05 19:26:04,2024-01-05 19:41:51,1.0,1.80,1.0,N,237,230,1,14.20,5.0,0.5,4.15,0.00,1.0,24.85,2.5,0.0
399996,1,2024-01-05 19:43:09,2024-01-05 19:52:58,1.0,1.40,1.0,N,230,239,1,10.00,5.0,0.5,3.30,0.00,1.0,19.80,2.5,0.0
399997,2,2024-01-05 19:41:30,2024-01-05 19:54:22,1.0,2.18,1.0,N,166,236,1,14.20,2.5,0.5,4.14,0.00,1.0,24.84,2.5,0.0
399998,1,2024-01-05 19:16:53,2024-01-05 19:23:33,1.0,1.00,1.0,N,107,137,1,8.60,5.0,0.5,3.00,0.00,1.0,18.10,2.5,0.0
399999,1,2024-01-05 19:43:11,2024-01-05 19:48:51,1.0,1.00,1.0,N,237,141,1,8.60,5.0,0.5,3.00,0.00,1.0,18.10,2.5,0.0

In [14]:
taxi_jan_2024.tpep_pickup_datetime = pd.to_datetime(taxi_jan_2024.tpep_pickup_datetime)
taxi_jan_2024.tpep_dropoff_datetime = pd.to_datetime(taxi_jan_2024.tpep_dropoff_datetime)

In [16]:
taxi_jan_2024.head(n=0).to_sql(name ='yellow_taxi_data',con=engine, if_exists='replace')

0

In [17]:
%time taxi_jan_2024.to_sql(name ='yellow_taxi_data',con=engine, if_exists='append')

CPU times: user 3.21 s, sys: 145 ms, total: 3.35 s
Wall time: 5.88 s

1000

In [19]:
from time import time

In [20]:
while True:
    
    t_start = time()
    
    taxi_jan_2024 = next(df_iter)
    
    taxi_jan_2024.tpep_pickup_datetime = pd.to_datetime(taxi_jan_2024.tpep_pickup_datetime)
    taxi_jan_2024.tpep_dropoff_datetime = pd.to_datetime(taxi_jan_2024.tpep_dropoff_datetime)
    
    taxi_jan_2024.to_sql(name ='yellow_taxi_data',con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk, took %.3f seconds' % (t_end - t_start))

inserted another chunk, took 5.717 seconds
inserted another chunk, took 5.758 seconds
inserted another chunk, took 5.575 seconds
inserted another chunk, took 5.657 seconds
inserted another chunk, took 5.611 seconds
inserted another chunk, took 5.966 seconds
inserted another chunk, took 5.824 seconds
inserted another chunk, took 5.836 seconds
inserted another chunk, took 5.744 seconds
inserted another chunk, took 5.982 seconds
inserted another chunk, took 6.063 seconds
inserted another chunk, took 5.959 seconds
inserted another chunk, took 5.854 seconds
inserted another chunk, took 5.899 seconds
inserted another chunk, took 5.872 seconds
inserted another chunk, took 5.873 seconds
inserted another chunk, took 5.953 seconds
inserted another chunk, took 5.899 seconds
inserted another chunk, took 6.256 seconds
inserted another chunk, took 5.970 seconds
inserted another chunk, took 6.263 seconds
inserted another chunk, took 6.268 seconds
inserted another chunk, took 6.210 seconds
inserted another chunk, took 5.947 seconds

/var/folders/fy/xyh07_qn3vd2x6f9bgwmgxsm0000gn/T/ipykernel_59556/3031054024.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  taxi_jan_2024 = next(df_iter)

inserted another chunk, took 5.434 seconds
inserted another chunk, took 3.500 seconds

StopIteration: